<br>
<div class="ui left aligned container">
    <h1>Impf-Formular</h1>
    <br>
    <form class="ui large form" [formGroup]="impfForm" (ngSubmit)="submitForm()">

        <div class="field" [class.disabled]="isUpdatingImpfung">
            <label>Impf-ID</label>
            <input type="number" formControlName="id">
            <div *ngIf="errors.id" class="ui negative message"> {{ errors.id }} </div>
        </div>

        <div class="field">
            <label>Impfdatum</label>
            <input type="date" formControlName="vaccinationdate">
            <div *ngIf="errors.vaccinationdate" class="ui negative message"> {{ errors.vaccinationdate }} </div>
        </div>

        <div class="field">
            <label>Startzeitpunkt</label>
            <input type="time" formControlName="starttime">
            <div *ngIf="errors.starttime" class="ui negative message"> {{ errors.starttime }} </div>
        </div>

        <div class="field">
            <label>Endzeitpunkt</label>
            <input type="time" formControlName="endtime">
            <div *ngIf="errors.endtime" class="ui negative message"> {{ errors.endtime }} </div>
        </div>

        <div class="field">
            <label>Maximale Teilnehmeranzahl</label>
            <input type="number" formControlName="maxparticipants">
            <div *ngIf="errors.maxparticipants" class="ui negative message"> {{ errors.maxparticipants }} </div>
        </div>

      <div class="field">
          <label>Location Name</label>
          <input formControlName="title">
          <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }} </div>
      </div>

       <div class="field">
          <label>Adresse</label>
          <input formControlName="adress">
           <div *ngIf="errors.adress" class="ui negative message"> {{ errors.adress }} </div>
      </div>

        <div class="field">
            <label>PLZ</label>
            <input formControlName="zipcode">
            <div *ngIf="errors.zipcode" class="ui negative message"> {{ errors.zipcode }} </div>
        </div>

        <div class="field">
            <label>Location-Bezeichnung</label>
            <input formControlName="description">
        </div>


<!--
              <div class="field">
                  <label>Impfwillige</label>

                  <div formArrayName="users">
                      <div class="fields" *ngFor="let control of users?.controls; index as i; last as l" [formGroupName]="i">
                          <input type="hidden" name="id">

                          <div class="four wide field">
                              <input formControlName="vorname" placeholder="Vorname">
                          </div>
                          <div class="four wide field">
                              <input formControlName="nachname" placeholder="Nachname">
                          </div>
                          <div class="two wide field">
                              <input formControlName="geschlecht" placeholder="Geschlecht">
                          </div>
                          <div class="two wide field">
                              <input formControlName="svnr" placeholder="SVNr">
                          </div>
                          <div class="four wide field">
                              <input formControlName="Impfung_Verabreicht" placeholder="Impfung verabreicht">
                          </div>

                          <div class="one wide field" *ngIf="l">
                              <button (click)="addUsersControl()" class="ui large button" type="button">+</button>
                          </div>
                      </div>

                  </div>
              </div> -->


        <button type="submit" class="ui button" [disabled]="impfForm.invalid">Speichern</button>
    </form>


</div>
